.filter__widget {
  position: relative;
  margin-right: 10px;
}

.filter__widget select {
  padding: 8px 20px;
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  appearance: none; /* Ẩn mũi tên mặc định */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter__widget::after {
  content: "▼";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  font-size: 12px;
}

.filter__widget select:focus {
  outline: none !important;
}
.filter__widget select option {
  font-size: 0.9rem;
}

.search__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-right: 12px;
  padding-left: 4px;
}

.search__box input {
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: none;
}

.search__box span {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .filter__widget {
    margin-bottom: 30px;
  }
  .filter__widget select {
    padding: 7px 20px;
    font-size: 0.9rem;
  }
}

.paginate-shop {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
